@import "colors.less";

tr {
  height: 50px;
}

th {
  background-color: @systemBorder;
  border-bottom: 1px solid @systemBorderDark;
  border-top: 1px solid @systemBorderDark;

  .footer-table-cell {
    padding: .4em .6em;
  }
}
