:host(.rtl) {
  .ac-pagination-button {
    transform: rotateY(180deg);
  }
}

.ac-pagination {
  align-items: center;
  justify-content: flex-end;
  padding: 0 16px;
  height: 56px;
  gap: 12px;

  .ac-pagination-item {
    display: flex;
    align-items: center;
  }

  //.ac-pagination-button {
  //
  //  &.next, &.previous {
  //    ::ng-deep {
  //      .ac-button {
  //        .ac-button-content {
  //          padding: 3px 0;
  //        }
  //      }
  //    }
  //  }
  //
  //  ::ng-deep {
  //    .ac-button {
  //      width: 100%;
  //      height: 100%;
  //      &.mat-mdc-button {
  //        min-width: 0;
  //
  //        .ac-button-content {
  //          width: 18px;
  //          height: 18px;
  //          min-height: auto;
  //          margin: 0 auto;
  //          padding: 0;
  //        }
  //      }
  //
  //    }
  //  }
  //}

  //::ng-deep {
  //  .ac-pagination-select {
  //    width: 100px;
  //  }
  //}

  .ac-pagination-page-index {
    min-width: 26px;
    margin: 0 8px;
    padding: 2px;
    text-align: center;
  }
}
